# Python caches
__pycache__/
*.pyc

# extensions
*.pckl
*.ipynb
*.csv
*.pth
*.model
*.pkl

# specific files to ignore

# specific folders to ignore
.conda/
.venv/
models/
results/

# Marimo temporary sessions
__marimo__/